# Environments
.env
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependencies
node_modules/

# OS/IDE files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/

# Confidential / Unwanted
ponytail/
frontend-react/
demo.py
architecure.svg

# Data/Outputs
faiss_index/
*.log
